.container {
   
    justify-content: center;

    .timeline {
        margin-top: 10%;
    }

    .education-details {
        display: flex;
        justify-content: center;
    }

    .part-1 {
        width: 50%;
        margin-left: 10%;
    }
    .part-2 {
       // margin-left: 10%;
       margin-top: 2%;
       margin-right: 5%;
        width: 50%; 
        line-height: 28px;
        font-size:20px;
        justify-content:center;

        .tags {
            border-width: 1px;
            border-color: rgb(133, 133, 133);
            
            border-style: solid;
            border-radius: 10px;
            padding: 10px;
            margin: 1%;
            

           
        }
    }

  
}