.footer-container {
    bottom: 0;
    background-color: #afccd0;
    height: 80px;
    z-index: 10;
    text-align: center;
    justify-content: center;
    width: 100%; overflow: hidden;

    ul {
        list-style: none; position: relative; float: left; display: block; left: 50%;

    li {
        position: relative; float: left; display: block; right: 50%;
        a {
         
        text-align: center;
            display: block;
            font-size: 30px;
            line-height: 25px;
            padding: 15px;

            &:hover {
                color: #003755;
            }
        }
    }
}

}